@import url(http://fonts.googleapis.com/css?family=Roboto:100);

.cssform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);  
  background: #0fbf70;
  width: 250px;
  font-family: 'Roboto';
  z-index: 1400;
  padding: 0;
}

.form-header {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40px;
  color: white;
  background: #0b9054;
  font-size: 30px;
}

.form-content {
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
}

.form-content input,
.form-content select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: black;
  outline: none;
}

.form-content input:focus,
.form-content select:focus {
  background: #badbad;
}

.button {
  border: none;
  text-align: center;
  background: #0b9054;
  display: block;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.button:hover {
  background: #0f8060;
}



.noCheck {
  background: #de3163 !important;
}



.form-content .select2-container {
  width: 100%;
  margin: 2px 0 2px 0;
}

.form-content .select2-container .select2-choice {
  border-radius: 0px;
}

.form-content .select2-container-active .select2-choice,
.form-content .select2-container-active .select2-choices {
  background: #badbad;
}

.form-content .select2-container .select2-choice {
    border: 2px solid #dce4ec;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-indent: 1px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.form-content .select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #dce4ec;
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
}
.form-content .select2-drop {
    margin-top: -2px;
    border: 2px solid #dce4ec;
    border-top: 0;
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.form-content .select2-drop.select2-drop-above {
    margin-top: 2px;
    border-top: 2px solid #dce4ec;
    border-bottom: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.form-content .select2-container .select2-choice div {
    border-left: 2px solid #dce4ec;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
 
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}
.form-content .select2-search input {
    height: 30px !important;
    border: 2px solid #dce4ec;
}
.form-content .select2-container-active .select2-choice,
.form-content .select2-container-active .select2-choices {
    border: 2px solid #dce4ec;
    outline: none;
 
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.form-content .select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
 
    -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
 
    -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
}
.form-content .select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.form-content .select2-results .select2-highlighted {
    background: #3875d7;
    background: #1abc9c;
    color: #fff;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
.form-content .select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
 
    border: 2px solid #dce4ec;
}
.form-content .select2-container-multi.select2-container-active .select2-choices {
    border: 2px solid #dce4ec;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
 
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}