doctype html
head
    title
    link(href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css", rel="stylesheet")
    
    //if lt IE 8
        link(href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css", rel="stylesheet")
        
    script(src="lib/jquery-2.0.3.min.js")
    script(src="lib/lodash.js")
    script(src="lib/select2.js")

    script(src="bower_components/noty/js/noty/jquery.noty.js")
    script(src="bower_components/noty/js/noty/themes/default.js")
    script(src="bower_components/noty/js/noty/layouts/topRight.js")
    
    link(href="lib/select2.css", rel="stylesheet")
    script(src="http://download.pouchdb.com/pouchdb-nightly.js")

    script(src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js")

    link(href="css/starik.kartofan.main.css", rel="stylesheet")
    link(href="css/starik.kartofan.menu.css", rel="stylesheet")
    link(href="css/starik.kartofan.forms.css", rel="stylesheet")

body

    div#mainMenu

    div#mapSelectMenu

    div.mapContainer#container

    script(src="js/starik.kartofan.fn.js")
    script(src="js/starik.kartofan.leaflet.js")
    script(src="js/starik.kartofan.options.js")
    script(src="js/starik.kartofan.stages.js")
    script(src="js/starik.kartofan.forms.js")
    script(src="js/starik.kartofan.events.js")
    script(src="js/starik.kartofan.main.js")

    |
    |<!-- Yandex.Metrika informer --><a href="http://metrika.yandex.ru/stat/?id=22770301&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/22770301/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:22770301,lang:'ru'});return false}catch(e){}"/></a><!-- /Yandex.Metrika informer --><!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22770301 = new Ya.Metrika({id:22770301, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22770301" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
