doctype html
head
    title
    link(href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css", rel="stylesheet")
    
    //if lt IE 8
        link(href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css", rel="stylesheet")
        
    script(src="lib/jquery-2.0.3.min.js")
    script(src="lib/lodash.js")
    script(src="lib/select2.js")
    script(src="lib/watch.js")
    link(href="lib/select2.css", rel="stylesheet")
    script(src="http://download.pouchdb.com/pouchdb-nightly.js")

    script(src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js")

    link(href="css/starik.kartofan.main.css", rel="stylesheet")
    link(href="css/starik.kartofan.menu.css", rel="stylesheet")
    link(href="css/starik.kartofan.forms.css", rel="stylesheet")

body

    div#mainmenu.cssmenu_container.hide
        div.cssmenu
            ul
                li.has-sub
                    a
                        span Map
                    ul
                        li
                            a#setMap
                                span Set Map
                        li
                            a#setMapView
                                span Set Map View
                li.has-sub
                    a
                        span Stage
                    ul
                        li
                            a#saveStage
                                span Save Stage
                        li
                            a#loadStage
                                span Load Stage
                li.has-sub
                    a
                        span Options
                    ul
                        li
                            a#optionsGlobal
                                span Global Settings
                        li
                            a#optionsLocal
                                span Global Maps View
                        li
                            a#optionsReset
                                span Settings Reset

    div#mapSelectMenu

    div.mapContainer#container

    script(src="js/starik.kartofan.fn.js")
    script(src="js/starik.kartofan.leaflet.js")
    script(src="js/starik.kartofan.options.js")
    script(src="js/starik.kartofan.stages.js")
    script(src="js/starik.kartofan.forms.js")
    script(src="js/starik.kartofan.events.js")
    script(src="js/starik.kartofan.main.js")
