doctype html
head
    title
    link(href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css", rel="stylesheet")
    
    //if lt IE 8
        link(href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css", rel="stylesheet")
        
    script(src="lib/jquery-2.0.3.min.js")
    script(src="lib/lodash.js")

    script(src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js")

    link(href="css/starik.kartofan.main.css", rel="stylesheet")
    link(href="css/starik.kartofan.menu.css", rel="stylesheet")
    link(href="css/starik.kartofan.forms.css", rel="stylesheet")

body

    div#mainmenu.hide
        div#cssmenu
            ul
                li
                    a
                        span Первонах
                li.has-sub
                    a
                        span Настройки
                    ul
                        li
                            a#optionsGlobal
                                span Глобальные настройки
                        li
                            a#optionsLocal
                                span Настройки вида карты
                        li
                            a#optionsReset
                                span Сброс настроек


    //div.form-flat.hide#eform
    //    div.form-header Header
    //    dir.form-content
    //        form
    //            input(type="text", placeholder="Text")
    //            input.button(type="submit", value="Сохранить")

    div.mapContainer#container

    script(src="js/starik.kartofan.fn.js")
    script(src="js/starik.kartofan.main.js")
