doctype html
head
    title
    link(href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css", rel="stylesheet")
    
    |<!--[if lte IE 8]>
    |    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    |<![endif]-->

    script(src="lib/jquery-2.0.3.min.js")
    script(src="lib/lodash.js")

    script(src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js")

    link(href="css/starik.kartofan.main.css", rel="stylesheet")

body

    ul#menu
        li
            a(href="#") Раздел 1
            ul
                li
                    a(href="#") 1
                li
                    a(href="#") 2

    div.mapContainer#container

    script(src="js/starik.kartofan.fn.js")
    script(src="js/starik.kartofan.main.js")
