div.row
    div.columns.hide-for-small-only.medium-4: h6.infoMenuLatLng Coords
    div.columns.small-6.medium-4.text-center: h6.infoMenuTime Time
    div.columns.small-6.medium-4.text-right
        h6.infoMenuVersion.right Version
        h6.right |
        h6.infoMenuCache.right Cache