html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.mapContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.maps {
    position: absolute !important;
}

.hide {
    display: none;
}

.activemap {
	
}

.tour {
    min-width: 300px;
}

.popover-title {
    text-align: center;
    font: 22px bold;
}