.eform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
    
  background: #0fbf70;
  width: 250px;
  /*height: 100%;*/
  z-index: 1400;
  padding: 0;
}

.eform-header {
  /*position: absolute;*/
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40px;
  color: white;
  background: #0b9054;
  font-size: 30px;
}

.eform-content {
  /*position: absolute;*/
  padding: 10px;
  /*margin: 10px;*/
  margin-top: 0px;
  height: 100%;
  box-sizing: border-box;
  overflow-x:hidden;
  overflow-y:auto;
}

.eform-content input,
.eform-content select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  color: black;
  outline: none;
}

.eform-content input:focus,
.eform-content select:focus {
  background: #badbad;
}

.eform-content .button {
  border: none;
  text-align: center;
  background: #0b9054;
  display: block;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.eform-content .button:hover {
  background: #0f8060;
}



.eform-content .noCheck {
  background: #de3163 !important;
}