.eform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
    
  background: #0fbf70;
  width: 40%;
  height: 100%;
  min-height: 240px;
  max-height: 600px;
  min-width: 240px;
  max-width: 400px;
  z-index: 1400;
  padding: 0;
}

.eform-header {
  position: absolute;
  top: -40px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 40px;
  width: 100%;
  color: white;
  background: #0b9054;
  font-size: 30px;
}

.eform-content {
  position: absolute;
  padding: 10px;
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
}

.eform-content input,
.eform-content select,
.eform-content textarea
 {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: none;
  color: black;
  outline: none;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;  
}

.eform-content input:focus,
.eform-content select:focus,
.eform-content textarea:focus
{
  background: #badbad;
}

.eform-content .button {
  border: none;
  text-align: center;
  background: #0b9054;
  display: block;
  padding: 10px;
  margin: 10px 0px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.eform-content .noCheck {
  background: #de3163 !important;
}



.bootstrap-tagsinput {
  background-color: #fff;
  display: inline-block;
  padding: 6px;
  vertical-align: middle;
  max-width: 100%;
  line-height: 22px;
  width: 100%;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
  background-color: #fff;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}