
/*TODO: что-то делать с курсорами на планшете*/
* {
    cursor: url("../images/mainCursor.png"), auto !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#topMenuKartofan {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 0px;
}

.mapContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.maps {
    position: absolute !important;
    padding: 0px;
}

.hide {
    display: none;
}

.show {
    display: inline;
}

.activemap .active-selector {
    background: #0079a1;
    z-index: 999999 !important;
    position: absolute;
    width: 100%;
    height: 2px;
}

.tour {
    min-width: 300px;
}

.popover-title {
    text-align: center;
    font: 22px bold;
}

/*Shown cursor when resize maps containers in stage*/
.ui-resizable-e, .ui-resizable-s, .ui-resizable-se {
    cursor: move !important;
    z-index: 999999 !important;
    background-color: grey;
}

[data-icon]:before {
  vertical-align: middle;
  font-size: 16pt;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  vertical-align: middle;
  font-size: 16pt;
}

/*Disable Foundation tabels otherwise arcticmodal is broken*/
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.accordion .content {
    padding: 0px;
}

.accordion .content .row {
    padding: 15px 0px;
}

.accordion .content .row:hover {
    background-color: #708090;
}

.arcticmodal-container_i2 { 
    /*width: 100%;*/
}

.arcticmodal-container { 
    z-index: 19999; 
}


.foundationForm {
    background-color: white;
}

.foundationForm input,
.foundationForm select {
    margin: 0px;
}

.foundationForm input[data-invalid],
.foundationForm select[data-invalid],
.foundationForm textarea[data-invalid] {
    background-color: red;
}

.foundationForm a.button{
    margin: 6px 0px;
}

.foundationForm .row>span{
    padding: 10px;
}

#infoMenuKartofan {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 15px;
    background-color: black;
}

#infoMenuKartofan .row {
    max-width: 100%;
    width: 100%;
}

#infoMenuKartofan h6, #infoMenuKartofan h6 span {
    color: #727272;
    margin: 0px;
    line-height: 1;
}

.mainColumn {
    background-color: white;
}



#disqus_thread {
    width: 600px;
    background-color: white;
    padding: 15px;
    z-index: 0;

}

#updatesInfo {
    background-color: white;
    padding: 15px;
}